@model IEnumerable<Memberships.Entities.Part>
@using Memberships.Areas.Admin.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateNewButtonPartial")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Partial("_TableButtonPartial", new SmallButtonModel { ItemId = item.Id })

           

        </td>
    </tr>
}

</table>
