@model IEnumerable<ExamenArbeteEC.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



@{
    ViewBag.Title = "Welcome";
}

<br />
<h3 class="text-center">Click on a category below to get started</h3><br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="categorywrap">
                <a href="~/StoreFront/Index/@item.Id">
                    <h2> @Html.DisplayFor(modelItem => item.Name)</h2>
                    <img src="@Url.Content(item.ImageUrl)"/>
                   
                </a>
            </div>
        </div>

    }
</div>


    
