

@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order id is: @ViewBag.OrderId</p>
<p>
    How about shopping for some more things in our
    @Html.ActionLink("store", "Index", "Home")
</p> 
