
<li class="dropdown"data-admin-menu>
    
    <a href="#"> Admin  <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li> 
        <li class="divider" />
        <li><a href="/Admin/Chapter">&nbsp;&nbsp;Chapter</a></li>
        <li><a href="/Admin/Part">&nbsp;&nbsp;Part</a></li>
        <li><a href="/Admin/ContentType">&nbsp;&nbsp;Content Type</a></li>
        <li class="divider" />
        <li class="dropdown-header">Major Entities</li>
        <li class="divider" />
        <li><a href="/Admin/Content">&nbsp;&nbsp;Content</a></li>
        <li><a href="/Admin/Product">&nbsp;&nbsp;Product</a></li>
        <li><a href="/Admin/Subscription">&nbsp;&nbsp;Subscription</a></li>
        <li class="divider" />
        <li class="dropdown-header">Connector Entities</li> 
        <li class="divider" />
        <li><a href="/Admin/ProductContent">&nbsp;&nbsp;Product Content</a></li>
        <li><a href="/Admin/SubscriptionProduct">&nbsp;&nbsp;Subscription Product</a></li>
    </ul>
</li>